@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

.container-dashboard-admin {
  display: grid;
  grid-template-columns: 402px 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header header"
    "sidebar main";
  min-height: 100vh;
  font-family: 'Onest', sans-serif;
}

.header-dashboard-admin {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
}

.headerLogo-dashboard-admin {
  width: 236px;
  height: 38px;
  object-fit: contain;
}

.sidebar-dashboard-admin {
  grid-area: sidebar;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebarMenu-dashboard-admin {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.menuItem-dashboard-admin {
  display: flex;
  align-items: center;
  background-color: #E0E0E0;
  border-radius: 30px;
  padding: 14px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menuItem-dashboard-admin:hover {
  background-color: #d0d0d0;
}

.menuItem-dashboard-admin svg {
  margin-right: 15px;
}

.menuText-dashboard-admin {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.logoutButton-dashboard-admin {
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 14px 50px;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}

.logoutButton-dashboard-admin:hover {
  background-color: #cc0000;
}

.mainContent-dashboard-admin {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 389px;
  gap: 20px;
  padding: 20px;
}

.statsContainer-dashboard-admin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.statCard-dashboard-admin {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.statTitle-dashboard-admin {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.statValue-dashboard-admin { 
  color: black;
  font-size: 40px;
  font-weight: 600;
}

.statUnit-dashboard-admin {
  color: black;
  font-size: 13px;
  font-weight: 600;
}

.onlineUsersPanel-dashboard-admin {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  right: 0px;
  
}

.panelTitle-dashboard-admin {
  color: black;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.userItem-dashboard-admin {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.userName-dashboard-admin {
  color: black;
  font-size: 16px;
  font-weight: 400;
}